  body {
    font: 400 15px ekachon-regular, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #0056ff;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 16px;
    color: #0056ff;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 16px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #0056ff;
    color: #fff;
    padding: 100px 25px;
    font-family: ekachon-regular, sans-serif;
  }
  .container-fluid {
    padding: 30px 30px;
  }
  .bg-grey {
    background-color: #eef1f9;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 5px 5px 20px 5px;
    border: none;
    border-radius: 8px;
    border:1px solid #ccc;
    color:#f68b1f; 
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #eee; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
    border-radius: 10px !important;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #0056ff !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    /*background-color: #f4511e;*/
    background-color: #0056ff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: ekachon-regular, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

.form-control {
  font-size: 13px !important;
}
.ldp {
  width:100%; 
  height:280px;
  margin-top:40px;
}
.ldp1 {
  margin-top:40px;
  width:100%; /*height:85vh;*/
  max-width: 400px;
  margin-left:auto; margin-right: auto;
}
.ldp_img {
  width:100%; height: 100%;
  margin-top:10px;
  overflow: hidden;
  background-size: cover;
}
.navbar-default .navbar-toggle {
  color:#ffffff !important;
}
.intro {
  /*margin-top:58px;*/
  background:#ffffff;
  text-align: center;
}
/*
@media (min-width: 768px) {
  .banner {
     height: 85vh;
     width:auto;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
  }

}

@media only screen and (max-width: 480px) {
img {
width: 100%;
background-position: center center;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
}
}
body {
  background-color: lightgreen;
}
@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
*/

@media only screen and (max-width: 768px) {
  .container1 {
    width: 50%;
    height: 200px;
    /*overflow: hidden;*/
  }

  .container1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.clr {
  clear: both;
}
.header-line {
  letter-spacing: 2px;margin-top:90px;color:#ffffff;font-size:14px;
}
.gameNumber {
  text-align:center;
  font-size: 110px; color:#ffffff;
  margin-top:-20px; margin-bottom: -20px;
}
.game2-score {
  margin:auto;
  width:80%;
  background:#ffff00;
  height:60px;
}
.game2-box {
  width:22%; height: 80px; border:2px; float: left;
  background:#bdd3ff; text-align: center; border-radius: 10px;
  margin:4px;
}
.game2-box1 {
  width:28%; height: 60px; border:2px; float: left;
  background:#f68b1f; text-align: center; border-radius: 10px;
  margin:6px;
}
.game2-box1:hover {
  background-color: #002d63; cursor: pointer;
}
.game2-boxs {
  width:22%; height: 80px; border:2px; float: left;
  background:#0056ff; text-align: center; border-radius: 10px;
  margin:4px;
}
.NameLine {
  color:#f68b1f;font-weight: 600;padding-top:10px;
}
/*
.box-msgtext {
  width:90%;background:#bdd3ff; border-radius: 10px; font-size: 12px; color:#555555;
  margin-top:30px; margin-right: auto; margin-left: auto; padding:20px; margin-bottom: 25px;
}
*/
.box-linkapp {
  width:90%;background:#bdd3ff; border-radius: 10px; font-size: 12px; color:#555555;
  margin:10px; margin-right: auto; margin-left: auto; padding:10px; cursor: pointer;
}
.box-linkapp:hover {
  background:#f68b1f; color:#ffffff;
}
.box-text1 {
  width:10%; text-align: center; float: left;
}
.box-text2 {
  width:100%; text-align: left; 
}
.text-false {
  padding:10px 0 20px 0; color:#f68b1f; font-weight: 600; text-align: center; width:100%; font-size:16px;
}
.text-score {
  width:100%; font-size:12px; text-align: center; color:#bdd3ff;padding:8px 0 8px 0;
}
.text-warning {
  width:100%; font-size:12px; text-align: center; color:#ffffff;padding:8px;
  background:#000; border-radius: 10px; width:80%; margin-left: auto; margin-right: auto;
  margin-top:36px;
}
.game-a1 {
  text-align: center; font-size: 50px; font-weight: 600; color:#0056ff; margin-top:-5px;
}
.game-a2 {
  text-align: center; font-size: 10px; font-weight: 600; color:#002d63; margin-top:-10px;
}
.game-a3 {
  text-align: center; font-size: 36px; font-weight: 600; color:#ffffff; margin-top:-8px;
}
.game-a4 {
  text-align: center; font-size: 10px; font-weight: 600; color:#ffffff; margin-top:-5px;
}
.game-a5 {
  text-align: center; font-size: 50px; font-weight: 600; color:#000000; margin-top:-5px;
}
.box-score {
  width:300px; background-color: #f68b1f; height:40px; color:#ffffff; border-radius: 8px; 
  text-align: center; margin:auto; font-size:12px;
}
.box-tscore1 {
  width:120px; padding:10px 0px; float: left;
}
.box-tscore2 {
  width:90px; float: left; font-size:30px; margin-top:-3px;
}
.box-tscore3 {
  width:80px; padding:10px 0px; float: left;
}
.TextLastScore {
  font-size: 14px; width:100%; padding-top:10px; text-align: center; color:#0056ff;padding-bottom: 30px;
}
.profile-user {
  position: relative; width:90px; height:90px; margin:auto; 
}
.profile-user .profile-level {
  width:35px; height: 35px; border-radius: 50%; background:#002d63; 
  color:#fff; position: absolute; bottom: -5px; right: -20px; 
  border: 2px solid #fff;
}
.profile-user .profile-numberlevel {
  font-size: 18px; text-align: center; margin-top:-2px;
}
.profile-user .profile-textlevel {
  font-size: 8px; text-align: center; margin-top:-8px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px; padding-left: 5px;
}
.msg-text {
  line-height: 1.4;font-size: 13px; color:#0056ff;padding-bottom: 20px;
}
.msg-goal {
  font-size: 15px; letter-spacing: 1px; color: #002d63; line-height: 1.4em; margin-top:-15px;
}
.msg-4h {
  width:100%;margin-left:auto; margin-right: auto; padding:20px; margin-top:10px; 
  text-align: left; color:#555555; line-height: 1.4em; font-weight: 300;
}
.msg-4h1 {
  width:100%;margin-left:auto; margin-right: auto; text-align: center; padding-top:10px;
  color:#555555; line-height: 1.4em;
}
.font-4h {
  font-size: 16px; font-weight: 600; color:#f68b1f; 
}
.box-4h {
  float: left;width:46%;padding:15px 5px;border-radius: 10px; background-color: #c0e6ff;margin:5px;height:210px;
  border:1px solid #eef1f9;
}
.h3div {
  margin-bottom:30px; font-weight:600; font-size: 16px; color: #f68b1f; line-height: 1.4;
}
.heading-msg {
  font-size:14px;color:#fff;line-height: 1.2;
}
.panel-footer { 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.text-intro {
  font-size: 14px; color:#000000; padding-bottom: 20px; letter-spacing: 2px;
}
.text-intro1 {
  font-size: 13px; color:#0056ff; padding-bottom: 30px; letter-spacing: 1.5px;
}
.text-home {
  font-size:17px; color:#000000;
}
.text-4heart1 {
  font-size: 13px;line-height: 1.4em;color:#000000;text-align: center; margin-top:-25px; 
  width:100%; font-weight: 700;
}
.text-4heart2 {
  font-size: 13px;line-height: 1.4em;color:#000000;text-align: left; width:100%; padding-top:15px;
  letter-spacing: 1px;
}
.text-4heart3 {
  font-size:12px; text-align: left;margin-left:-25px;margin-top:20px;
}
.panel-body { 
  padding:5px;
}
.box-showimg {
  width:100%;margin-left: auto; margin-right: auto; margin-top:20px;text-align: center;
  background-color: #ffff00;
}
.box-list {
  width:50px; height: 50px; float: left; margin:3px; 
}


.imgLDP {
  max-width: 360px;border-radius: 50%;border:10px solid #e4e8f1;padding:5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.HeaderCard {
  font-size: 14px;color:#0056ff; font-weight: 700;padding:15px;
}
.box-msgtext {
  /*width:90%;background:#bdd3ff; border-radius: 10px; font-size: 12px; color:#555555;
  margin-top:30px; margin-right: auto; margin-left: auto; padding:20px; margin-bottom: 25px;*/
  width:95%; padding:5px;
  margin-right: auto; margin-left: auto;
}

.box-text0 {
  width:100%;background-color: #f1f1f1;padding:8px; border-radius: 20px;margin-bottom: 4px;color:#000000;
}
.box-text0:hover {
  background-color: #0056ff; cursor: pointer; color:#ffffff;
}
.box-text00 {
  width:100%;background-color: #fff;padding:2px; border-radius: 20px;margin-bottom: 4px;color:#000000;
}
.box-text00:hover {
  background-color: #f1f1f1; cursor: pointer; color:#ffffff;
}
.box-text2 {
  width:100%; text-align: center; line-height: 1.4em; font-size: 12px; padding-bottom: 5px;
  padding-top:2px;padding-left: 20px; padding-right: 20px; min-height: 30px; 
}
.box-text11 {
  padding:10px;font-weight: 600;width:100%; color:#f68b1f;
}
.text-buttom {
  margin-top:20px;font-size:10px;color:#555555;margin-bottom: 20px;font-weight: 700;
}
.box-text3 { 
  color:#f68b1f; font-size: 14px; font-weight: 600; padding-bottom: 7px; padding-top:3px;
}
.SendMsg {
  color:#0056ff; border:1px solid #f1f1f1; background-color: #dcecfc; border-radius: 10px;
  padding:8px; max-width: 360px; width:100%; height:100px; 
}
.IMGOverImg {
  position: relative;
  margin-top:20px;
  text-align: center;
  color: white;
  max-width:390px; border-radius: 15px;
  padding:4px; border: 4px solid #f1f1f1;
}
.Centered {
  /*
  position: absolute; margin-bottom: 5px;
  font-size: 13px; bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; border-radius: 5px;
  width: 98%; 
  padding: 20px 30px;
  */
  position: absolute;   border-radius: 5px;
  width: 375px; padding: 20px 30px;  margin-left: -16px; text-align: center; line-height: 1.3;
  min-height: 106px; 
  /*font-size: 13px; background: rgba(0, 0, 0, 0.5);*/
  font-size: 16px;color: #0056ff; font-weight: 400;margin-top: 160px;

}





.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  /*
  overflow: hidden;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  background-image: url('../img/bg1.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  */
  background: url('../img/bg1.png'); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-awards {
  margin-top:50px;
  width: 100%;
  height: 220px;
  /*background-image: url('../img/bg1.png');
  background-size: cover; background-position: center center;
  max-height: 350px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  overflow: hidden;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}
.ympic-logo {
  margin-top:20px;max-width:360px;width:100%;opacity: 1; margin-bottom: 20px;
}

.boxmenu {
  margin:8px 5px; width:100%; height: 110px; background-color: #f2eeeb; line-height: 1.2;
  border:2px solid #fff; border-radius: 5px; text-align: center; font-size: 12px; color:#0056ff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); font-weight: 600;
}
.boxmenu:hover {
  background-color: #e0dad6; cursor: pointer; color:#fff;
}

.ympic-box {
  margin:5px; float: left; width:47%; height: 130px; background-color: #0056ff; line-height: 1.2;
  border:2px solid #fff; border-radius: 5px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ympic-box:hover {
  background-color: #0743b9; cursor: pointer;
}

.ympic-box-a {
  margin:5px; float: left; width:30%; height: 130px; background-color: #f68b1f; line-height: 1.2; 
  border:2px solid #fff; border-radius: 10px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ympic-box-b {
  margin:5px; float: left; width:30%; height: 130px !important; line-height: 1.2; 
  border:2px solid #fff; border-radius: 10px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; 
     background-size: 100% 100%;

     background-repeat: no-repeat;
     background-position: center center; 

}
.text-pic {
  color:#fff; margin-top:80px;background: #0056ff; height:40px; padding:5px 0;
  opacity:.9;
} 
.text-pic:hover { 
  background: #f68b1f; cursor: pointer;
}
.text-mypic {
  width:90%; color:#444;line-height: 1.3; padding:5px; font-size: 12px; margin:auto; max-width: 360px;
}

.ympic-box-a:hover {
  background-color:#b6600a; cursor: pointer;
}
.ympic-box-b {
  margin:5px; float: left; width:30%; height: 60px; background-color: #f68b1f; line-height: 1.2; 
  border:2px solid #fff; border-radius: 10px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);padding-top:7px;
}
.ympic-box-b:hover {
  background-color: #0056ff; cursor: pointer;
}
.ympic-box-c {
  margin:5px; float: left; width:30%; height: 130px; background-color: #898f97; line-height: 1.2;
  border:2px solid #fff; border-radius: 10px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ympic-box-d {
  margin:5px; float: left; width:22%; height: 112px; background-color: #f68b1f; line-height: 1.2; 
  border:2px solid #fff; border-radius: 10px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ympic-box-d:hover {
  background-color: #0056ff; cursor: pointer;
}
.ympic-box-e {
  margin:5px; float: left; width:96%; height: 130px; background-color: #0743b9; line-height: 1.2;
  border:2px solid #fff; border-radius: 10px; text-align: center; font-size: 12px; color:#ffffff; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ympic-box-e:hover {
  background-color: #032a78; cursor: pointer;
}

.selectmenu {
  background-color: #0743b9;
}
.ympic-icon {
  width:80%;padding:10px 5px 7px 5px;text-align: center;
}
.ympic-topic {
  margin-top:35px;font-size: 14px; color:#000000; font-weight: 600;text-align: center;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 6px;
}
table.dataTable thead th, table.dataTable thead td {
    background: #f68b1f; color: #ffffff; padding: 4px; margin-top:15px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate { 
    margin-bottom: 10px;
}
.txt-center { text-align: center; }
.txt-right { text-align: right; right: 10px; }
.a { width:10px; text-align: center;}
.b { height:10px; text-align: center;}
.img-interview {
  width:100%;max-width:285px; border-radius: 8px;
}





.box-5h {
  width:100%; text-align: left;
  border-radius: 10px; background-color: #90a9c8;height:60px;
  border:2px solid #90a9c8;margin-top:5px; padding:3px 0; color:#fff;
}
.box-5h:hover {
  border:2px solid #5f7794; background-color: #697e98; cursor: pointer; 
}

.box-5h-name {
  padding:7px 0 0 5px; font-weight: 600; color:#000; line-height: 1.3; text-align: center;
}

.box-5h1 {
  width:100%; text-align: left;
  border-radius: 10px; background-color: #0056ff;height:60px;
  border:2px solid #0056ff;margin-top:5px; padding:3px 0; color:#fff;
}
.box-5h1:hover {
  border:2px solid #003fba; background-color: #003fba; cursor: pointer; 
}
.box-5h-number1 {
  font-size: 13px; color:#737373;font-weight: 600;padding-top:4px;
  width:50px;height:50px;float: left;text-align: center; position: relative;
}
.box-5h-name1 {
  width:155px;float: left; font-size: 12px;
  padding:7px 0 0 5px; font-weight: 600; color:#fff; line-height: 1.3; text-align: left;
}

.box-5h2 {
  width:100%; text-align: left;
  border-radius: 10px; background-color: #f68b1f;height:60px;
  border:2px solid #f68b1f;margin-top:5px; padding:3px 0; color:#fff;
}
.box-5h2:hover {
  border:2px solid #bb6106; background-color: #bb6106; cursor: pointer; 
}

.box-5h3 {
  width:100%; text-align: left;
  border-radius: 10px; background-color: #054490;height:60px;
  border:2px solid #054490;margin-top:5px; padding:3px 0; color:#fff;
}
.box-5h3:hover {
  border:2px solid #002d63; background-color: #002d63; cursor: pointer; 
}


.box-5h4 {
  width:100%; text-align: left;
  border-radius: 10px; background-color: #00dd39;height:60px;
  border:2px solid #00dd39;margin-top:5px; padding:3px 0; color:#fff;
}
.box-5h4:hover {
  border:2px solid #06a42f; background-color: #06a42f; cursor: pointer; 
}

.number4 {
  width:20px; height:20px; font-size: 11px; background: #fff; border-radius: 50%; position: absolute; 
  padding:2px; font-weight: 600; color:#000; text-align: center; margin-top:-30px; margin-left: 15px;
}
.number5 {
  width:65px;float: left; font-size: 18px; 
  padding:3px; font-weight: 600; color:#fff; text-align: center; margin-top:4px; margin-left: 10px;
}
.NameLine {
  color:#f68b1f;font-weight: 600;padding-top:10px;font-size: 14px; letter-spacing:2px;
}
.game-txt {
  font-weight:600;color:#002d63; letter-spacing: 2px;
}
